body,html {
    margin: 0;
    padding:0;
    height: 100vh;
    width: 100vw;
    
}
.container {
    box-sizing: border-box;
}

table {
    height: 86%;
    width: 100%;
}

td {
    outline: 0.5px solid rgb(160, 160, 160);
    width: 1.66%;
    height: 2%;
}
.unvisited{
    background: white;
}
.unvisited:hover{
    background: lightgray;
}
.visited{
    background: rgb(84, 197, 250);
}
.wall {
    background: black;
}
.path {
    background: yellow;
}


#toolbar {
    height: 14%;
    line-height: 14%;
    display: flex;
    align-items: center;
}


button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 80%;
    border: black;
    border-width:1px;
    font-size: 5vh;
    line-height: 50%;
    align-items: center;
    border-radius: 15px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
#start {
    background-color: rgb(0, 175, 0);
    color: white;
}
#start:hover{
    background-color: rgb(0, 215, 0);
}
#reset {
    background-color: rgb(185, 0, 0);
    color: white;
}
#reset:hover{
    background-color: rgb(235, 0, 0);
}


#startpos{
    width: 100%;
    height: auto;
}

#endpos{
    width: 100%;
    height: auto;
}